In [2]:
#importing libraries

import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

#loading data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

#quick cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

In [3]:
df.loc[:,'salary_year_avg':'salary_hour_avg']

        salary_year_avg  salary_hour_avg
0                   NaN              NaN
1                   NaN              NaN
2                   NaN              NaN
3                   NaN              NaN
4                   NaN              NaN
...                 ...              ...
785736              NaN              NaN
785737              NaN              NaN
785738              NaN              NaN
785739              NaN              NaN
785740              NaN              NaN

[785741 rows x 2 columns]

In [7]:
median_yearly_salary = df['salary_year_avg'].median()

In [8]:
median_hourly_salary = df['salary_hour_avg'].median()

In [13]:
df_filled = df

df_filled['salary_year_avg'] = df_filled['salary_year_avg'].fillna(median_yearly_salary)

df_filled['salary_hour_avg'] = df_filled['salary_hour_avg'].fillna(median_hourly_salary)

In [15]:
df_unique = df_filled

df_unique = df_unique.drop_duplicates()

print('Length of original df:         ',len(df_filled))
print('Length of drop duplicates df:  ',len(df_unique))
print('Rows Dropped:                  ',len(df_filled)-len(df_unique))

Length of original df:          785741
Length of drop duplicates df:   785640
Rows Dropped:                   101

In [ ]:
df_unique = df_unique.drop_duplicates(subset=['job_title', 'company_name'])

print('Length of original df:         ',len(df_filled))
print('Length of drop duplicates df:  ',len(df_unique))
print('Rows Dropped:                  ',len(df_filled)-len(df_unique))S

Length of original df:          785741
Length of drop duplicates df:   508042
Rows Dropped:                   277699